body {
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: #fdf6ff;
    color: #1f1f1f;
    max-width: 850px;
    margin: auto;
    padding: 60px 24px;
}

.cinfo{
    color:#6366f1
}

.section-title {
    cursor: pointer;
    padding: 12px 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: #a855f7;
}

.resume-section {
    border-bottom: 1px solid #e9d5ff;
    padding: 22px 0;
}

.section-content {
    margin-top: 12px;
    padding-left: 10px;
    color:#615184;
}

.heading {
    p{
        font-size:2rem;
        color:#615184
    }
    font-size: 2.6rem;
    margin-bottom: 20px;
    color: #7c3aed;
}

a {
    color: #6366f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

